
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-four-column tg-haslayout">
                <div class="col-sm-4">
                    <div class="tg-col tg-about-us">
                        <div class="tg-section-heading">
                            <h2>about bird’s eye</h2>
                        </div>
                        <strong class="tg-logo">
                            <a href="#">
                                <img src="~/Content/images//logo2.png" alt="image description">
                            </a>
                        </strong>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea amodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        </div>
                        <ul class="tg-socialicons">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="tg-col tg-instagram">
                        <div class="tg-section-heading">
                            <h2>instagram</h2>
                        </div>
                        <div id="tg-instapost-slider" class="tg-instapost-slider">
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/img-01.jpg" alt="image description">
                                    </a>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/img-01.jpg" alt="image description">
                                    </a>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/img-01.jpg" alt="image description">
                                    </a>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/img-01.jpg" alt="image description">
                                    </a>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/img-01.jpg" alt="image description">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div id="tg-instathumb-slider" class="tg-instathumb-slider tg-thumbpost">
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/thumb/img-01.jpg" alt="image description">
                                    </a>
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/thumb/img-02.jpg" alt="image description">
                                    </a>
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/thumb/img-03.jpg" alt="image description">
                                    </a>
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/thumb/img-04.jpg" alt="image description">
                                    </a>
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                            <div class="tg-theme-post item">
                                <figure>
                                    <a href="#">
                                        <img src="~/Content/images//footer-instagram/thumb/img-04.jpg" alt="image description">
                                    </a>
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="tg-col">
                        <div class="tg-section-heading">
                            <h2>random post</h2>
                        </div>
                        <div class="tg-random-post">
                            <article class="tg-theme-post tg-category-small">
                                <figure>
                                    <a href="#"><img src="~/Content/images//footer-instagram/random-post/img-01.jpg" alt="image description"></a>
                                </figure>
                                <div class="tg-postdata">
                                    <h3><a href="#">Adipisicing elit sed do eiuod tempor ut labore</a></h3>
                                    <ul class="tg-postmetadata">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-clock-o"></i>
                                                <span>Sep 12, 2016</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="tg-theme-post tg-category-small">
                                <figure>
                                    <a href="#"><img src="~/Content/images//footer-instagram/random-post/img-02.jpg" alt="image description"></a>
                                </figure>
                                <div class="tg-postdata">
                                    <h3><a href="#">Adipisicing elit sed do eiuod tempor ut labore</a></h3>
                                    <ul class="tg-postmetadata">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-clock-o"></i>
                                                <span>Sep 12, 2016</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="tg-theme-post tg-category-small">
                                <figure>
                                    <a href="#"><img src="~/Content/images//footer-instagram/random-post/img-03.jpg" alt="image description"></a>
                                </figure>
                                <div class="tg-postdata">
                                    <h3><a href="#">Adipisicing elit sed do eiuod tempor ut labore</a></h3>
                                    <ul class="tg-postmetadata">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-clock-o"></i>
                                                <span>Sep 12, 2016</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-brands">
        <div class="container">
            <div class="row">
                <div id="tg-footerbrand-slider" class="tg-footerbrand-slider tg-haslayout">
                    <div class="tg-theme-post item">
                        <figure>
                            <img src="~/Content/images//brands/img-01.png" alt="image description">
                        </figure>
                    </div>
                    <div class="tg-theme-post item">
                        <figure>
                            <img src="~/Content/images//brands/img-02.png" alt="image description">
                        </figure>
                    </div>
                    <div class="tg-theme-post item">
                        <figure>
                            <img src="~/Content/images//brands/img-03.png" alt="image description">
                        </figure>
                    </div>
                    <div class="tg-theme-post item">
                        <figure>
                            <img src="~/Content/images//brands/img-04.png" alt="image description">
                        </figure>
                    </div>
                    <div class="tg-theme-post item">
                        <figure>
                            <img src="~/Content/images//brands/img-01.png" alt="image description">
                        </figure>
                    </div>
                    <div class="tg-theme-post item">
                        <figure>
                            <img src="~/Content/images//brands/img-02.png" alt="image description">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-copyrights">
        <div class="container">
            <ul class="tg-footer-nav pull-right">
                <li><a href="#">main</a></li>
                <li><a href="#">news</a></li>
                <li><a href="#">fashion</a></li>
                <li><a href="#">tech</a></li>
                <li><a href="#">sports</a></li>
                <li><a href="#">video</a></li>
                <li><a href="#">design</a></li>
            </ul>
            <p class="pull-left">© 2016  |  All Rights Reserved</p>
        </div>
    </div>
</footer>
