<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<!-- Mirrored from exprostudio.com/html/birds_eye/final/blog-list-without-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Oct 2017 09:57:28 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/transitions.css">
    <link rel="stylesheet" href="~/Content/css/simpleWeather.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/flexslider.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/MetroJs.css">
    <link rel="stylesheet" href="~/Content/css/swiper.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/color.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <script src="~/Content/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
            Preloader Start
    *************************************-->
    <div id="status">
        <div id="preloader" class="preloader">
            <img src="~/Content/images/preloader.gif" alt="Preloader" />
        </div>
    </div>
    <!--************************************
            Preloader End
    *************************************-->
    <!--************************************
            Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
        <!--************************************
                Header Start
        *************************************-->
        <header id="tg-header" class="tg-haslayout tg-header1">
            <div class="tg-topbar tg-haslayout">
                <div class="tg-weatherbox">
                    <div id="tg-weather" class="tg-weather"></div>
                </div>
                <div class="tg-updateticker">
                    <strong>headlines:</strong>
                    <div id="tg-updateticker-slider" class="tg-updateticker-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tg-description">
                                    <p>Sed do eiusmod temaor <a href="#">( By: Jhon Doe )</a></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tg-description">
                                    <p>Sed do eiusmod. <a href="#">( By: Jhon Doe )</a></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tg-description">
                                    <p>Sed do eiusmod temaor. <a href="#">( By: Jhon Doe )</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="tg-prev"><span class="fa fa-angle-left"></span></div>
                        <div class="tg-next"><span class="fa fa-angle-right"></span></div>
                    </div>
                </div>
                <div class="tg-topbarrightwidgets">
                    <nav class="tg-addnav">
                        <ul>
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#tg-LoginModal">login</a></li>
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#tg-RegisterModal">register</a></li>
                        </ul>
                    </nav>
                    <ul class="tg-socialicons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                    <a class="tg-search-open" href="javascript:void(0);"><i class="fa fa-search"></i></a>
                </div>
                <div class="tg-searchbox">
                    <form action="#" method="get" class="tg-form-search">
                        <fieldset>
                            <input type="search" name="search" class="form-control" placeholder="Type &amp; press enter to search" value="">
                        </fieldset>
                    </form>
                    <a class="tg-search-close" href="javascript:void(0);"><i class="fa fa-close"></i></a>
                </div>
            </div>
            <div class="tg-navigationarea tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <strong class="tg-logo">
                                <a href="index.html"><img src="~/Content/images/logo.png" alt="image description"></a>
                            </strong>
                            <nav id="tg-nav" class="tg-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="tg-navigation" class="tg-navigation collapse navbar-collapse">
                                    <ul>
                                        <li class="tg-hasdropdown">
                                            <a href="javascript:void(0);">Main</a>
                                            <ul class="tg-dropdownmenu">
                                                <li><a href="index.html">index-1</a></li>
                                                <li><a href="index2.html">index-2</a></li>
                                                <li><a href="index3-boxed.html">index-3</a></li>
                                                <li><a href="index3-boxed-fullnav.html">index-4</a></li>
                                                <li><a href="index4.html">inde-5</a></li>
                                                <li><a href="index5.html">index-6</a></li>
                                                <li><a href="index6.html">index-7</a></li>
                                                <li><a href="index7.html">index-8</a></li>
                                            </ul>
                                        </li>
                                        <li class="tg-megadropdown">
                                            <a href="javascript:void(0);">News</a>
                                            <ul class="tg-megamenu">
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a href="#">news</a>
                                                            <ul>
                                                                <li><a href="news.html">Lorem ipsum</a></li>
                                                                <li><a href="news.html">dolor sit</a></li>
                                                                <li><a href="news.html">amet consectetur</a></li>
                                                                <li><a href="news.html">adipisicing elit</a></li>
                                                                <li><a href="news.html">incididunt ut</a></li>
                                                                <li><a href="news.html">more</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">fashion</a>
                                                            <ul>
                                                                <li><a href="fashion.html">minim veniam</a></li>
                                                                <li><a href="fashion.html">quis nostrud</a></li>
                                                                <li><a href="fashion.html">exercitation</a></li>
                                                                <li><a href="fashion.html">nisi aliquip</a></li>
                                                                <li><a href="fashion.html">exea commodo</a></li>
                                                                <li><a href="fashion.html">consequat</a></li>
                                                                <li><a href="fashion.html">more</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">tech</a>
                                                            <ul>
                                                                <li><a href="tech.html">commodo</a></li>
                                                                <li><a href="tech.html">consequat</a></li>
                                                                <li><a href="tech.html">Duis aute</a></li>
                                                                <li><a href="tech.html">in voluptate</a></li>
                                                                <li><a href="tech.html">more</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="tg-more" href="#">Featured Video</a>
                                                    <ul>
                                                        <li>
                                                            <iframe src="https://www.youtube.com/embed/S52Osi4RO6w"></iframe>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="fashion.html">Fashion</a></li>
                                        <li><a href="tech.html">tech</a></li>
                                        <li><a href="sports.html">sports</a></li>
                                        <li><a href="video.html">video</a></li>
                                        <li><a href="design.html">design</a></li>
                                        <li><a href="audio.html">audio</a></li>
                                        <li class="tg-hasdropdown">
                                            <a href="#"><i class="fa fa-navicon"></i><i>pages</i></a>
                                            <ul class="tg-dropdownmenu">
                                                <li><a href="blog-list-without-sidebar.html">blog list-1</a></li>
                                                <li><a href="blog-list-with-sidebar.html">blog list-2</a></li>
                                                <li><a href="blog-grid-without-sidebar.html">blog grid-1</a></li>
                                                <li><a href="blog-grid-with-sidebar.html">blog grid-2</a></li>
                                                <li><a href="blog-detail.html">blog detail</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="comming-soon.html">comming soon</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--************************************
                Header End
        *************************************-->
        <div class="tg-blog-list2 tg-haslayout">
            <!--************************************
                    Home Slider Start
           -->
            <div class="tg-fullpost-slider tg-inner-banner tg-fullpost">
                <article class="tg-theme-post">
                    <figure>
                        <a href="#">
                            <img src="~/Content/images/blog-detail/blog-detail-img.jpg" alt="image description">
                        </a>
                        <figcaption>
                            <div class="tg-box">
                                <div class="tg-postcontent">
                                    <div class="container">
                                        <figure class="tg-authorimg">
                                            <img src="~/Content/images/blog-detail/author-img.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-postcontent-holder">
                                            <div class="tg-theme-tags">
                                                <a class="tg-tag tg-tag-hotstory" href="#"><i class="fa fa-star"></i></a>
                                                <a class="tg-tag tg-tag-category tg-color-pink" href="#">fashion</a>
                                                <a class="tg-tag tg-tag-category tg-color-green" href="#">travel</a>
                                            </div>
                                            <div class="tg-border-heading">
                                                <h2><a href="#">Lorem ipsum dolor sit sed do eiusmod amit</a></h2>
                                            </div>
                                            <ul class="tg-postmetadata">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Sep 12, 2016</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-user"></i>
                                                        <span>by Simon Smith</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-comments-o"></i>
                                                        <span>37</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-eye"></i>
                                                        <span>1308</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>

                <!--
                    Home Slider End
            *************************************-->
            <!--************************************
                    Breadcrucmbs Strat
            *************************************-->
            <div class="tg-breadcrumbs tg-haslayout">
                <div class="container">
                    <h2>blog list</h2>
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">blog list</li>
                    </ol>
                </div>
            </div>
            <!--************************************
                    Breadcrucmbs End
            *************************************-->
            <!--************************************
                    Main Start
            *************************************-->
            <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <div class="row">
                        <!--************************************
                                Content Start
                        *************************************-->
                        @RenderBody()

                        <!--************************************
                                Content End
                        *************************************-->
                    </div>
                </div>
            </main>
            <!--************************************
                    Main End
            *************************************-->
        </div>
        <!--************************************
                Footer Start
        *************************************-->
        @Html.Action("Index", "Footer")
        <!--************************************
                Footer End
        *************************************-->
    </div>
    <!--************************************
            Wrapper End
    *************************************-->
    <!--************************************
            Login Start
    *************************************-->
    <div class="tg-login tg-theme-modalbox modal fade" id="tg-LoginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="tg-modal-content">
                <div class="tg-section-heading">
                    <h2>login</h2>
                </div>
                <form class="tg-form-login" method="post" action="#" enctype="text/plain">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control" name="usernameemail" placeholder="Username/Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" value="rememberme" class="checkbox">
                                <em>Remember Me</em>
                            </label>
                            <a href="#">
                                <em>Forgot Password</em>
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </div>
                        <div class="form-group">
                            <button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
                        </div>
                        <div class="tg-description">
                            <p>Don't have an account? <a href="#">Signup</a></p>
                        </div>
                    </fieldset>
                </form>
                <div class="tg-or">
                    <span>or</span>
                </div>
                <ul class="tg-socialicons">
                    <li class="tg-facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="tg-pintrest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--************************************
            Login End
    *************************************-->
    <!--************************************
            Register Start
    *************************************-->
    <div class="tg-register tg-theme-modalbox modal fade" id="tg-RegisterModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="tg-modal-content">
                <div class="tg-section-heading">
                    <h2>login</h2>
                </div>
                <form class="tg-form-register" method="post" action="#" enctype="text/plain">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="retypepassword" placeholder="Retype Password">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <button class="tg-btn tg-btn-lg" type="submit">Register Now</button>
                        </div>
                        <div class="tg-description">
                            <p>have an account? <a href="#">signin</a></p>
                        </div>
                    </fieldset>
                </form>
                <div class="tg-or">
                    <span>or</span>
                </div>
                <ul class="tg-socialicons">
                    <li class="tg-facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="tg-pintrest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--************************************
            Register End
    *************************************-->
    <script src="~/Content/js/vendor/jquery-library.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.cycle2.min.js"></script>
    <script src="~/Content/js/jquery.cycle2.carousel.min.js"></script>
    <script src="~/Content/js/simpleWeather.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/isotope.pkgd.js"></script>
    <script src="~/Content/js/flexslider.js"></script>
    <script src="~/Content/js/parallax.js"></script>
    <script src="~/Content/js/MetroJs.js"></script>
    <script src="~/Content/js/swiper.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

<!-- Mirrored from exprostudio.com/html/birds_eye/final/blog-list-without-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Oct 2017 09:57:29 GMT -->
</html>